.AddTask {
  text-align: left;
  background-color:#E0E3E7;
  width: 680px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 3px 1px rgba(204,204,204,1);

}

.AddTaskLeft {
  float: left;
  width: 510px;
  border-radius: 10px;
  background-color:#EAEBEF;
}

.content {
  margin-left: 15px;
  margin-top: 15px;
  width: 480px;
  background-color: #f9f9f9;
  color: #666666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.content:hover {
  border: 2px solid #3d78ad;
  transition: all 0.1s ease-in-out;
}
.content:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  border: 2px solid #3d78ad;
  background-color: rgb(239, 240, 245);
  color:rgb(52, 86, 133);
}

.date {
  float: left;
  text-align: center;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 180px;
  background-color: #f9f9f9;
  color: #666666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
}

.date:hover {
  border: 2px solid #3d78ad;
  transition: all 0.1s ease-in-out;
}

.date:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
  border: 2px solid #3d78ad;
  background-color: rgb(239, 240, 245);
  color:rgb(52, 86, 133);
}

.date-label {
  float: left;
  font-size: 18px;
  margin-left: 20px;
  color:rgb(52, 86, 133);
  margin-top: 9px;
  letter-spacing: 1px;
}

.AddTaskRight {
  float: left;
  width: 170px;
  height: 106.13px;
  background-color:#E0E3E7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add {
  float: left;
  width: 70px;
  height: 42px;
  margin-top: 17px;
  margin-left: 10px;
  background-color: #276297;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
}

.add:hover {
  background-color: #1b588b;
    transition: all 0.1s ease-in-out;
}

.add:active {
  background-color: #1b588b;
  -webkit-box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
  -moz-box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
  box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
}

.clear {
  float: left;
  width: 70px;
  height: 42px;
  margin-top: 17px;
  margin-left: 10px;
  background-color: #276297;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.clear:hover {
  background-color: #1b588b;
    transition: all 0.1s ease-in-out;
}

.clear:active {
  background-color: #1b588b;
  -webkit-box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
  -moz-box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
  box-shadow:inset 0px 0px 6px 2px rgb(143, 136, 136);
  outline: none;
}

.checkbox {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 40px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
}

.checkbox:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);
    box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);
    transition: all 0.1s ease-in-out;
}

.checkbox-label {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  color:rgb(52, 86, 133);
  font-size: 16px;
}