.App {
  border: 3px solid #061D24;
  text-align: center;
  background-color:#ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  min-height: 740px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}